<%- include('../includes/header.ejs')%>

<h1>訂單管理</h1>
<%if(orders.lenght>0) { %>
<ul class="list-group">
    <% orders.forEach(function(order){ %>

    <li class="list-group-item active">
        <%= order.id %>
        <% order.products.forEach(function(product){%>
    <li class="list-group-item">
        <%= product.title %>
        <%= product.orderItem.quantity %>
    </li>
    <% }) %>
    </li>
    <% }) %>
</ul>

<% }else{ %>
<h5>暫無訂單</h5>
<% } %>
<%- include('../includes/footer.ejs')%>